body {
	background: #fff url(wood.png) 0 0 repeat;
	margin: 0;
	padding: 0;
	font-family: 'Indie Flower', cursive;
}

/*  ==========================================================================
    Estrutura da página
    ========================================================================== */

.container {
	width: 1000px;
	height: 600px;	
	margin: 25px auto;	
}

.column {
	display: inline;
	float: left;
}

.left-column {
	width: 250px;
	height: 100%;	
}

.right-column {
	margin-left: 10px;
	width: 740px;
	height: 100%;
}

/*  Anotações
    ========================================================================== */

#anotacoes {
	width: 235px;
	height: 335px; 	
	margin: 10px 5px 10px 10px;	
	position: relative;
	padding:15px 20px 20px 45px; 
	line-height: 30px;
	color: #6a5f49;
	text-shadow: 0 1px 1px white;	
  	background-color: #f2f6c1;
  	background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent, transparent 27px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  	background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent, transparent 27px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  	background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent, transparent 27px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  	border: 1px solid #c3baaa;
	border-color: rgba(195, 186, 170, 0.9);
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
  	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
}	

#anotacoes:before, #anotacoes:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0
}

#anotacoes:before {
	left: 28px;
	width: 2px;
	border: solid #efcfad;
	border-color: rgba(239, 207, 173, 0.9); 
	border-width: 0 1px;
}

#anotacoes:after {
	z-index: -1;
	left: 0;
	right: 0;
	background: rgba(242, 246, 193, 0.9);
  	border: 1px solid rgba(170, 157, 134, 0.7);
	background: rgba(242, 246, 193, 0.9);
	border: 1px solid rgba(170, 157, 134, 0.7);
	-webkit-transform: rotate(2deg);
  	-moz-transform: rotate(2deg);
  	-ms-transform: rotate(2deg);
  	-o-transform: rotate(2deg);
  	transform: rotate(2deg);

}

/*  Jogador
    ========================================================================== */

#jogador {
	width: 235px;
	height: 235px;	
	margin: 5px 10px 10px 10px;
}

.carta {
	background: #fff;

	text-align: center;
	display: table;
	border: 1px solid #c3baaa;
	border-color: rgba(195, 186, 170, 0.9);
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
}

.carta.foto, .carta.descricao {
	margin: 0;
	padding: 0;
	display: block;		
}

.carta.mini-carta {
	padding: 5px;
}

.carta.big-carta {
	width: 190px;
	height: 210px;
	margin: 0 auto;
	padding: 10px; 
	-webkit-transform: rotate(-2deg);
  	-moz-transform: rotate(-2deg);
  	-ms-transform: rotate(-2deg);
  	-o-transform: rotate(-2deg);
  	transform: rotate(-2deg);
}

.carta.medium-carta {
	width: 100px;
	padding: 5px;
}

.carta-unidade {
	display: inline;
	float: left;
	margin-left: 10px;
}

.first {
	margin-left: 7px;
}

/*  Jogadores
    ========================================================================== */

#jogadores {
	width: 735px;
	height: 57px;	
	margin: 10px 10px 10px 5px;
}

.jogador-carta {
	width: 150px;
	display: inline;
	float: right;
}

.jogador-carta .mini-carta, .jogador-descricao {
	display: inline;
	float: left;
}

.jogador-descricao {
	margin-left: 10px;
	padding: 5px 0px 5px 0;
}

.jogador-nome, .jogador-cartas {
	display: block;
}

.jogador-nome {
	font-weight: bold;
	font-size: 18px;
}	

#tabuleiro {
	width: 735px;
	height: 363px;
	background: #FF9735;
	margin: 10px 10px 10px 5px;	
}

#cartas {
	width: 735px;
	height: 140px;	
	margin: 10px 10px 10px 5px;
}