body {
	margin: 0;
	padding: 0;
	/*font-family: 'Coming Soon', cursive;*/
	font-family: helvetica;
	background: url(../images/background.jpg);
	background-size: cover;
}

#container-panel {
	width: 500px;
	margin: 50px auto;
}

#logo {
	width: 500px;
	display: block;
	margin-bottom: 50px;
}

.btn {
	width: 250px;
	display: block;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
	margin: 0 auto 20px auto;
	text-decoration: none;
}

.btn#btn_play {
	background: #708C38;
	border: 1px solid #3D4C1E;
	color: #fff;
}

.btn#btn_play:hover {
	background: #7A993D;
	border: 1px solid #5C722E;
}

.btn#btn_logout {
	background: #ED300F;
	border: 1px solid #AD230B;
	color: #fff;
}

.btn#btn_logout:hover {
	background: #FA3310;
	border: 1px solid #D32B0D;
	color: #fff;
}

.modal {
	background: #fff;
	border: 1px solid #BFBFBF;
	width: 600px;
	height: 600px;
	position: absolute;
	display: none;
	top: 50px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	border-radius: 5px;
	padding: 20px;
	z-index: 200;
}

.modal h3 {
	margin: 0;
	margin-bottom: 15px;
}

#loading-message {
	text-align: center;
	margin-top: 200px;
	display: none;
}

#suspect-menu {
	margin-top: 70px;
	display: none;	
}

#suspect-menu .suspect {
	width: 127px;
	height: 190px;
	margin: 0px 11px 0 11px;
	padding: 0;
	position: relative;
}

#suspect-menu .indisponible.suspect:after {
	content: 'NÃO DISPONÍVEL';
	position: absolute;
	right: 0;
	left: 0;
	bottom: 95px;
	background: #ED300F;
	padding: 2px 0 2px 0;
	border: 1px solid #AD230B;
	color: #000;
}

#roda_dado {
	display: none;
	text-align: center;
	margin-top: 200px;
}

.title {
	text-align: center;
}

.row {
	display: table;		
}

.col {
	display: inline;
	float: left;
}

#container {
	height: 100vh;
}

#right {
	background: #FF003C;
	width: 300px;
	height: 100%;	
}

#center {
	/*background: #FF8A00;*/
	width: calc(100% - 600px);
	height: 100%;
	position: relative;
}

#left {
	background: #FABE28;
	width: 300px;
	height: 100%;
}

/* Right */

.suspect {
	padding: 15px 30px 15px 30px;
	width: calc(100% - 60px);
}

.suspect.current {
	background: #FF9933;
}

.suspect-img img {
	height: 100px;
}

.suspect-description {
	display: table;
	padding-left: 25px;
	height: 100px;
}

.suspect-description span {
	display: table-cell;
	vertical-align: middle;	
	font-size: 25px;
}

.suspect-description span small{
	font-size: 20px;
}

/* Center */

#bottom {
	/*background: #88C100;*/
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0;
	/*display: none;*/
}

#cards {
	margin: 0 auto;
}

.card {
	width: 110px;
	height: 177px;	
	margin: 0px 5px 0px 5px;
}

.card-description {
	width: 100%;
	height: 59px;
	text-align: center;
	display: table;
}

.card-description span {
	display: table-cell;
	vertical-align: middle;
}

#board {
	margin: 25px auto;
	border: 1px solid #000;	
	width: 550px;		
	position: relative;
}

#board .col {
	width: 20px;
	height: 20px;
	border: 1px solid transparent;
	/*border: 1px solid #000;*/
	background: #fff;
}

#board .field {
	border-color: #000;
	border: 1px solid #000;
}

#board .graveyard {
	background: #999966;			
}

#board .floriculture {
	background: #006600;
}

#board .hospital {
	background: #CCFFFF;
}

#board .restaurant {
	background: #CC3300;
}

#board .station {
	background: #33CCCC;
}

#board .square {
	background: #CCFF66;
}

#board .prefecture {
	background: #990000;
}

#board .bank {
	background: #CCCCFF;
}

#board .office {
	background: #FF6600;
}

#board .mansion {
	background: #CC0000;
}

#board .nightclub {
	background: #FF5050;
}		

.caret {
	position: relative;
}

.caret:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
}

.caret-up:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #000;
	bottom: 7px;
	left: 5px;
}

/*.prefecture.caret-up:after {
	left: 16px;
}*/

.caret-down:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	bottom: 7px;
	left: 5px;
}

.caret-left:after {
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 	
	border-right: 5px solid #000;
	bottom: 5px;
	left: 7px;
}

.caret-right:after {
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 	
	border-left: 5px solid #000;
	bottom: 5px;
	left: 7px;	
}

#board .field.available {
	background: pink;
}

#board .field.available:hover {
	background: purple;
}

#board .field.selected {
	background: purple;
}

.col:before {
	position: absolute;
}

#r04c01:before {
	content: 'Casa D. Florinda';
}

#r05c11:before {
	content: 'Casa Bruxa do 71';
}

#r05c20:before {
	content: 'Casa S. Madruga';
}

#r10c01:before {
	content: 'Lanchonete';
}

#r16c10:before {
	content: 'Pátio';
}

#r11c20:before {
	content: 'Fonte';
}

#r17c01:before {
	content: 'Entrada';
}

#r16c20:before {
	content: 'Escola';
}

#r24c01:before {
	content: 'B. Churros';
}

#r24c10:before {
	content: 'Terreno Baldio';
}

#r24c20:before {
	content: 'Mercado';
}

.character {
	width: 44px;
	height: 44px;			
	position: absolute;
	z-index: 100;
}

/* Left */

#notes {
	padding: 0 30px 0 30px;
	overflow: scroll;
	width: 100%;
	height: calc(100% - 80px);
}

.notes-list {
	list-style: none;
	padding: 0;
	font-size: 20px;
}